
<div  id="product_box1" class="col-sm-4 col-md-3">
  <div class="product_box">
    <h3><%= product.name %></h3>

    <%= image_tag(product.image_url, size: '100x70', class: "img-responsive img_product") %>

    <p><%= product.description %></p>
    <p><%= product.color %></p>
    <p><%= product.price %></p>
    <p>
    <%= link_to 'Show', product, class:"btn btn-default" %>  
    <%= link_to 'Edit', edit_product_path(product), class:"btn btn-default" %> 
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></p>
  </div><!-- END product_box -->
</div><!-- END col -->